[Unit]
Description=Todo List Server
Requires=todolist_clean.timer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/todo-list/run.sh
Restart=always

[Install]
WantedBy=multi-user.target

